.todo-app {
  max-width: 600px;
  margin: 0 auto;
}

.top-panel {
  margin: 1rem 0;
}

.todo-list {
  margin-bottom: 30px;
}

.add-form-panel {
  margin-bottom: 20px;
}

.button-trash {
  display: inline-block;
}

.button-on-toggle-done {
  display: inline-block;
  margin-right: 10px;
}

.button-save {
  display: inline-block;
}

.button-edit {
  display: inline-block;
  margin-right: 10px;
}
.row-item-name {
  display: inline-block;
}
